.social_login 
    button.social_login_github
        a(href=routes.github)
            span  
                i.fab.fa-github 
            | Continue with Github
    button.social_login_facebook
        a(href=routes.facebook)
            span  
                i.fab.fa-facebook 
            | Continue with Facebook
        